{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-7 col-md-6 my-auto no-pad">
            <h1 class="display-5 logo-font shop-heading text-white">
                New fighting equipment
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-7 col-md-6 my-auto no-pad">
            <h4>
                <a href="{% url 'products' %}"
                    class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                    Start your journey to a new you here
                </a>
            </h4>
        </div>
    </div>
</div>
<!-- Review Carousel -->
<div class="container">
    <div class="row semi-transparent-bg">
        <div class="col-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for review in reviews %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for review in reviews %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="carousel-content">
                            <p>Reviewed by {{ review.user_name }} on {{ review.created_at|date:"Y-m-d" }}</p>
                            <p class="text-truncate">{{ review.review_text }}</p>
                            {% if user.is_authenticated and user == review.user %}
                            <div class="review-btn">
                                <button type="button" class="edit-btn" data-toggle="modal" data-target="#editReviewModal" data-review-id="{{ review.id }}" data-review-text="{{ review.review_text|escapejs }}">Edit</button>
                                <form action="{% url 'delete_review' review.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this review?');">
                                    {% csrf_token %}
                                    <button type="submit" class="edit-btn">Delete</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Review Edit Modal -->
<div class="modal fade" id="editReviewModal" tabindex="-1" role="dialog" aria-labelledby="editReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'update_review' %}" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="editReviewModalLabel">Edit Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="reviewId" id="modalReviewId" value="">
                    <div class="form-group">
                        <label for="modalReviewText" class="col-form-label">Review:</label>
                        <textarea class="form-control" id="modalReviewText" name="reviewText" maxlength="200"></textarea>
                    </div>
                    <small>Max 200 letters</small>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#carouselExampleIndicators').carousel();
    });
    $('.edit-btn').on('click', function() {
        var reviewId = $(this).attr('data-review-id');
        var reviewText = $(this).attr('data-review-text');
        $('#modalReviewId').val(reviewId);
        $('#modalReviewText').val(reviewText);
    });
</script>

{% endblock %}
